/* Custom button color styles */
.custom-color-btn {
    background-color: #287da7;
    color: #bedce4; /* Text color */
    border: #000000;
}

/*Background coloring*/
body{
    color: #000000;
    background-color: #54a2ea
}

/* Styling for page header*/
#page-header {
    margin-bottom: 25px;
    background-color: #52b5cb;
    height: 163px;
    max-width: 1088px;
    border: 2px solid #000000;
    opacity: 0.8;
}

/* Styling for search bar*/
.custom-search-form {
    max-width: 400px;
    margin: 25px; /* Center the form on the page */
}

/* Past Searched List section*/
#search-section {
    margin-bottom: 20px;
}

/* Search History styling*/
.custom-search-history {
    max-width: 400px;
    margin: 20px;
    background-color: #52b5cb;
    border: 2px solid #000000;
}

/* Search History clear button*/
#clear-history-btn {
    display: flex;
    margin-left: 138px;
}

/* Container for daily and forecast weather*/
.row-weather {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 449px;
    margin-top: -272px;
}

